* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

form input {
  padding: 10px;
  border: 1px solid #a5a5a5;
  border-radius: 4px;
  margin-top: 10px;
  outline: none;
}

form button {
  background: rgb(9, 126, 204);
  padding: 10px;
  border: none;
  color: #fff;
  margin-top: 10px;
}

.user-error,
.email-error,
.password-error {
  display: none;
  color: red;
}

.active {
  display: block;
}
.error-input {
  border: 1px solid red;
}
.success-input {
  border: 2px solid #5cb85c;
}
.box-error {
  border: 1px solid red;
}
.box-success {
  border: 1px solid #5cb85c;
}
.box {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 4px;
}
.box-error {
  border: 1px solid red;
}
.box-success {
  border: 2px solid #5cb85c;
}
.input-img {
  margin-top: 0px;
  border: none;
  margin-bottom: 0px;
  width: 100%;
}
.box img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.confirm-error {
  display: none;
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.active {
  display: block;
}
